/*Заявляю цвет фона для всех страниц. Зачем-то белый*/
body {						
	background-color: #fff;
}

/*All right, main font will be Georgia*/
.content {
	font-family: Georgia;
}

/*Main page table properties*/
.main {
	border: none;
	width: 100%;
	height: 100%;
	text-align: center;

}

/*Let the navigation bar items to be of the same size*/
.nav {

	width: 20%;

}



/*No underline and color change for the links in the menu!*/
.navigation {
	font: bold 1.4em  Courier;
	text-decoration: none;
	color: black;
	display: block;
}

/*That's for the "next" button on news page*/
#next {

	font: normal 0.8em  Courier;
	text-decoration: none;
	color: white;
	display: block;
	background-color: black;
	width: 50px;
	margin: auto;
	padding: 2px;
}

/*Make the nav bar a bit animated*/
.navigation:hover {
	background-color: black;
	color: #fff;
}

/*Font for the footer*/
#footer {

	font:.7em Courier;

}

/* Change the style of the search bar and button*/
input[type=text]{
	width:50%;
	border: none;
	border-bottom: 1px solid black;
	outline: none;
}

input[type=text]:focus {

	border-bottom: 2px solid black;
}

.button {
	background-color: black;
	color: white;
	border:none;
	padding:3px 5px;
	font-size: .8em;
	margin: 5 0;

}

::placeholder {
	color: black;
	opacity: 0.9;
	font-family: Courier;
}

/*Change the font size for page headers*/
h2 {
	font-size: 1.3em;
}

/*Here we declare properties for the contact page layout

first the main table, then the left and right columns*/
.contact {
	/*border: 1px solid black;*/
	text-align: center;
	width: 100%;
	padding: 10px;
	/*border-collapse: collapse;*/
}

.left {
/*	border: 1px solid black;*/
	text-align: right;
	border-collapse: collapse;
	width: 50%;
	padding: 5px;
	vertical-align: top;
	font: 1em Georgia;
}
.right {
	/*border: 1px solid black;*/
	text-align: left;
	border-collapse: collapse;
	width: 50%;
	padding: 5px;
}

/*Remove the resize option from textarea, start typing from the left*/
textarea {
	resize: none;
	text-align: left;
}

/*That's basically the main table for reviews and news
as they are of the same size. Release table has the same properties,
but i have some dependencies here, so i couldn't use this class for
releases page, though it could be rewritten and optimized */
.contenttable {
	border: none;
	width: 60%;
	margin: auto;
	float: none;
	padding: 5px;
}

/*Exactly, these are the mentioned dependencies. Shame on me.

Some properties for the paragraphs and cells. Also, 
a class for images height, this one is used all over the page*/
.contenttable p {

	text-align: justify;
}

.contenttable td {
	text-align: center;
}

.newsimg {
	height:270px;
}

/*Declare some stuff fot div's and lines*/
div {
	text-align: center;
}

hr {
	width: 50%;
}

/*Right, here's the table for the releases page. Finally I got rid
of the idea of using cascading dependencies, but was too lazy
to rewrite the upper code*/
.releasetable {
	border: none;
	width: 60%;
	margin: auto;
	float: none;
	padding: 5px;
}

/*Aligning the cell with the album art*/
.releaseimg {
	width:50%;
	vertical-align: top;
	text-align: right;
}

/*Formatting the album name*/
.releasename {
	height: 20%;
	text-align: center;
	width: 50%;
	padding-left: 50px;
}

/*Cell with the album tracklist. Below are declarations for 
the names*/
.releasetracklist {
	text-align: left;
	vertical-align: top;
	width: 50%;
	padding-left: 50px;
}

.artist {
	font: bold 1.7em/1.2em Georgia;
}
.album {
	font: italic 1.7em/1.2em Georgia;

}

.year {
	text-align: center;
	font: 1.3em/1.2em Georgia;

}

/*Had to use preformatted text, <ol>'s and <li>'s are just too massive*/
.preformatted {
	white-space: pre;
	font-family: Courier;
	font-size: 1em;
}

/*Couple of properties for the reviews table cells. Not much, just some tweaks*/
.reviewname {
	width: 50%;
	text-align: center;
}

.reviewmark {
	width: 20%;
}

.imgsocial {
	
	border: 1px solid black;
	height: 18px;
	width: 18px;
	border-radius: 9px;
	float: left;
	margin-right: 3px;
	
}

.imgsocial:hover {
	border: 2px solid black;

}